<!-- use "!" to create basic html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChillPill</title>
</head>
<body>
    Before
    <br>
    <!-- this lets the other ejs files work inside the %body% tag such as index.ejs-->
    <!-- includes every one of the pages inside the body page -->
    <%- body %>
    <br>
    After
</body>
</html>